@import "../../assets/styles/mixins";

.lnk-blue {
    @include themify($themes) {
      cursor: pointer;
      color: themed('link_color');
      text-align: center;
      font-weight: 700;
      text-decoration: none;
      margin-top: 10px;
    }
}