@import "../../assets/styles/mixins.scss";

.linerar-progress-bar {
    @include themify($themes) {
        background-color: themed('white_color');
        height: 30px;
        width: 100%;
        display: flex;
        &__bar {
            height: 30px;
            background-color: themed('linear-progress-bar-color');
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;            
            &_progress-complete-text {
                padding: 8px 0 0px 10px;
                margin-top: 0px !important;
                font-size: 12px !important;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: themed('white_color');
            }
        }
        &__full-bar {
            padding: 12px 55px 7px 30px;
        }
        &__bar-text {
            &_progress-text {
                padding: 8px 0 0px 30px;
                margin-top: 0px !important;
                font-size: 12px !important;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color:  themed('linear-progress-bar-text');
            }
        }
    }
}