/*
 * Theme definitions
 */

$themes: (
  oae: (
    /**colors**/ 
    link_color: #007fa3,
    white_color: #fff,
    black_color: #000000,
    error_color: #db0020,
    input_focus: #f5f5f5,
    orange_color: #ea7600,
    horizontal_divider: #e5eaee,
    btn_cancel_hover_color: #c7c7c7,
    password_medium_input: #ee936f,
    password_stronger_input: #008638,
    onboarding_background: #e5e7ee,
    login_container_background_color:#ebeff2,
    create-account_background_color:#ebeff2,
    heading_color: #252525,
    sub_heading_color: #4e4e4e,
    h3_color: #000,
    h6_color: #5d5d5d,    
    p_color:#5d5d5d,
    shadow_color: #e5e7ee,
    li_active_color: #047a9c,
    li_active_background: #ebeff2,
    disable_background_color:#cccccc,
    ddd: #ddd,
    505759:#505759,
    bbb: #d8d8d8,
    /**button component**/ 
    btn_outlined_hover: #f09f4c,
    btn_cancel_background_color: #e9e9e9,
    /**input-field**/ 
    input_field__focus_border: #007fa3,
    /*check-box*/
    checkbox_label_disabled_color: #b8b8b8,
    checkbox_label_disabled_color_before: #ddd,
    checkbox_label_disabled_color_after: #6a7070,
    checkbox_toggle_off_color: #FFE2CC,
    checkbox_toggle_off_border_color: #6a7070,
    checkbox_disabled_border_color: #c7c7c7,
    checkbox_disabled_bc_color: #e9e9e9,
    /*add-course*/
    addcourse_form_area_shadow: #e5e7ee,
    addcourse_edit_section_border_right: #e6e6e6,
    addcourse_edit_section_color: #007fa3,
    addcourse_edit_section_color_1: #898989,
    addcourse_edit_section_color_2: #252525,
    addcourse_edit_section_color_3: #4e4e4e,
    addcourse_edit_section_color_5: #007ea5,
    addcourse_edit_section_color_6: #979797,
    addcourse_mybar_color: #84bd00,
    addcourse_btnprimary_border_color: #007bff,
    addcourse_accord_color: #ea7600,
    addcourse_edit_section_color_7: #e5eaee,
    addcourse_edit_section_color_8: #add5e1,
    /*reset-password*/
    reset_password_create_user_paper_1:#5a5a5a,
    reset_password_dots_li:#d8d8d8,
    /*success-or-error*/
    success_or_error_ul_li_bc: #999,
    /*admin header*/
    header_color:rgba(0, 0, 0, 0.54),
    header_li_hover: #FBE4CC,
    /*table*/
    table_botton_color: #e5eaee,
    table_bottom_border: #e5eaee,
    table_color:#212529,
    /*stepper*/
    stepper_li_color: #9099A2,
    level_text_color: #4e4e4e,
    /*scrore*/
    score_ul_color: #4e4e4e,
    score_label_color: #898989,
    score_levels_color: #d2d2d2,
    /*welcome*/
    welcome_box_shadow_color: #d4d4d4,
    slider_dot_color: #d4eae4,
    /*license*/
    license_paper_bg: #fff,
    expansion_panel_shadow:#e5e7ee,
    /*instructor*/
    instructor_paper_bg: #fff,
    instructor_form_area_shadow: #e5e7ee,
    license_form_area_shadow: #e5e7ee,
    /* add learner */
    learner_paper_bg: #fff,
    learner_form_area_shadow: #e5e7ee,
    learner_bulk_section_color: #4e4e4e,
    learner_h4_color: #252525,
    learner_graybox_bg : #f5f5f5,
    learner_graybox_color : #4e4e4e,
    learner_link_color: #007ea5,
    learner_dotted_color: #979797,
    /* day picker */
    day_picker_month_border: #c7c7c7,
    day_picker_today_bg:#6a7070,
    /* List card */   
    list-section_bg:#f3f5f7,
    list_section_divider:#e6e6e6,
    list_section_edit_button: #007fa3,
    list_section_header_color: #898989,
    list_section_label_color: #252525,
    /*learner-module*/
    quiz_num: rgba(234, 234, 234, 0.5),
    quiz_p: #555,
    quiz_number: #666,
    quiz_tile_box_visited: #d4eae4,
    learner_module_head_background: #005a70,
    learner_module_tile_section_background: #f5f5f5,
    li-border-right-color: #d8d8d8,
    learner_module_tile_section_module_info: #4e4e4e,
    learner_module_tile_section_p: #007fa3,
    learner_module_tile_section_li: #4e4e4e,
    learner_module_overlay_color:rgba(0, 0, 0, 0.5),
    learner_module_overlay_p: #252525,
    /*left navigation header*/
    left_navigation_active:#FEF4EB,
    left_navigation_hover: #ea7600,
    left_navigation_admin_active_bc_color: #EAEFF2,
    /*admin header*/
    badge-background-color:#d90474,
    flash_message_background: #505759,
    /*DatePicker */
     date-picker-label: #252525,
     /* Institute */
     institute-link-button: #007fa3,
     institute-bg-shadow: #e5e7ee,
     institute_title: #5d5d5d,     
     linear-progress-bar-color: #84bd00,
     linear-progress-bar-text: #4e4e4e,
     review-test-area-shadow: #e5e7ee,
    /* test-insteruction */
     test-instruction-background: #f5f5f5,
     test-instruction-hr-border: #fafafa,
     test-instruction-skill-box-p: #252525,
     test-instruction-skill-box-box-reading: #d9ecf1,
     test-instruction-skill-box-box-listening: #dcf4f2,
     test-instruction-skill-box-box-grammar: #fff5dd,
     test-instruction-skill-box-box-vocabulary: #fcebd9,
     test-instruction-review-test: #555,
     /* Test-report*/
     test-report-lm-section-background:#005a70,
     test-report-status-bar-success-background:#84bd00,
     test-report-tile-box-visited-background:#d4eae4,
     test-report-tile-box-num:rgba(234, 234, 234, 0.5),
     test-report-tile-box-loader:rgba(234, 234, 234, 0.5),
     test-report-tile-box-p:#555,
     test-report-loader-bar:#007fa3,
     test-report-loader-number:#666,
     test-report-review-test-h4:#555,
     test-report-icon-clock:#666,
     test-report-quiz-scrore-section-hr:#efefef,
     test-report-tile-section-background:#f5f5f5,
     test-report-mlevel-strong:#4e4e4e,
     test-report-mlevel-p:#4e4e4e,
     test-report-p-text-blue:#007fa3,
     test-report-popover-arrow_box:rgba(136, 183, 213, 0),
     test-report-quiz-scrore-section-p:#252525,
     test-report-circle-green:#12b2a6,
     test-report-circle-yellow:#ffb81c,
     test-report-circle-orange:#ea7600,
     test-report-fill:#ea7600,
     test-report-c100:#e5e5e5,
     test-report-c100-hover:#307bbb,
     test-report-c100-dark:#777777,
     test-report-c100-dark-fill:#c6ff00,
     test-report-c100-green:#4db53c,
     test-report-green-dark-fill:#5fd400,
     test-report-orange-fill:#dd9d22,
     test-report-orange-dark-fill:#e08833,
     popup-close-button: #6a7070,
     level-success-popup-h1: #007fa3,
     language_picker_text_color: #4e4e4e,
     breadcrum_link_text_color: #5d5d5d,
     level-drawer: #005a70,
     level-drawer-visited: #d4eae4,
     level-drawer-disabled: #277385,
     metric-card-title-color: #005a70,
     metric-card-sub-title-color: #4e4e4e,
     switch_off_color: #4e4e4e,
     switch_on_color:#f5f5f5,
     circular-chart-fill-color:#ea7600,
     circular-chart-c100:#e5e5e5,
     circular-chart-c100-blue-bar:#007fa3,
     circular-chart-c100-brown-bar:#c44724,
     skill-list-header-color: #4e4e4e,
     skill-list-border-bottom-color: #f5f5f5,
     test_stat_card_header: #005a70,
     my_performance_empty_state_title_color: #4e4e4e,
     my_performance_empty_state_link_color: #007fa3,
     my_performance_skill_back_color: #f5f5f5,
     test-card-kill-remediation-title: #323232,
     // icon-opicity-color
     back_module_color: #FFF1D2,
     back_task_color: #E6F2CB,
     background_color_score_screen: #EBEFF2,
      //learner-dashboard
      learner-dashboard-activation-color:#4e4e4e,
      learner-dashboard-module-border-color: #f5f5f5,
     //admin-dashboard
     admin-dashboard-activation-bc:#e6f2cc,
     admin-dashboard-activation-activation-color:#76C126,
     admin-dashboard-activation-font-color:#4E4E4E,
     admin-dashboard-title-color:#84bd00,
     admin-dashboard-level-color:#c1c1c1,
     admin-dashboard-enabled-level-color:#007fa3,
     admin-dashboard-subheader-title: #252525,
     table-pagination-border-color: #e5eaee
  ),
  stark: (
    /**colors**/ link_color: #007fa3,
    white_color: #fff,
    error_color: #db0020,
    input_focus: #f5f5f5,
    orange_color: #2600ff,
    btn_cancel_hover_color: #c7c7c7,
    password_medium_input: #ee936f,
    password_stronger_input: #008638,
    heading_color: #252525,
    sub_heading_color: #4e4e4e,
    h3_color: #000,
    h6_color: #5d5d5d,
    /**button component**/ btn_outlined_hover: #f09f4c,
    btn_cancel_background_color: #e9e9e9,
    btn_cancel_color: #252525,
    /**input-field**/ input_field__focus_border: #007fa3,
    /*check-box*/ checkbox_label_disabled_color: #b8b8b8,
    checkbox_label_disabled_color_before: #ddd,
    checkbox_label_disabled_color_after: #6a7070,
    /*add-course*/ addcourse_form_area_shadow: #e5e7ee,
    addcourse_edit_section_border_right: #e6e6e6,
    addcourse_edit_section_color: #007fa3,
    addcourse_edit_section_color_1: #898989,
    addcourse_edit_section_color_2: #252525,
    addcourse_edit_section_color_3: #4e4e4e,
    addcourse_edit_section_color_5: #007ea5,
    addcourse_edit_section_color_6: #979797,
    addcourse_mybar_color: #84bd00,
    addcourse_btnprimary_border_color: #007bff,
  )
);
