@import "../../assets/styles/mixins";

.reset-password-container {
  @include themify($themes) {
    height: 100vh;
    z-index: 0;
    position: relative;
    &__form-heading {
      text-align: center;
      font-weight: 400;
      font-size: 21px;
      margin-top: 0px;
      margin-bottom: 0;
      padding-top: 60px;
      color: themed('white_color');
    }
    &__form {
      width: 100%;
      &-buttons{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        .reset-password-button{
          margin-top: 23px !important;
        }
      }      
    }
    .on-boarding-container__form {
      box-shadow: 0 2px 10px 0 themed('reset_password_create_user_paper_1');
    }
    .on-boarding-container__overlay {
      top: 0px;
      z-index: -1;
  }
    .on-boarding-container__leaf-image img {
      left: -60px !important;
      z-index: -2 !important;
    }
  }
}
