@import "../../assets/styles/mixins";

.assign-admin {
  @include themify($themes) {
    @include center();
    width: 80%;
    flex-direction: column;
    max-width: 770px;
    &__form {
      padding: 5px 40px 30px;
    }
    &__container {
      width: 100%;
    }
    &-paper {
      box-shadow: 0 2px 10px 0 themed("addcourse_form_area_shadow");
      padding-bottom: 20px;
      &__text {
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 40px;
        color: themed("heading_color");
        padding-left: 40px;
        padding-top: 40px;
      }
    }
    &-fields {
      &__input {
        padding: 0 15px !important;
      }
    }
    &__action {
      width: 100% !important;
    }
  }
}
