@import "../../assets/styles/mixins.scss";
.reset-password-send-link-container {  
    @include themify($themes) {
        background-image: url(../../assets/images/background.png);
        background-repeat: no-repeat;
        background-position: 0px;
        height: 100vh;
        z-index: 0;
        position: relative;
        width: 100%;
        background-size: cover;
        &__form-width {
            width: 100%;
        }
        &__form-group {
            margin-bottom: 15px;
            input {
                margin: 5px 0 5px;
            }
        }
        .on-boarding-container__overlay {
            top: 0px;
            left: 0;
            z-index: -1;
        }   
        .on-boarding-container__form {
            padding: 30px 30px;
            margin: 16px auto;
            box-shadow: 0 2px 10px 0 themed('reset_password_create_user_paper_1');
        }
        .on-boarding-container__leaf-image img {
            left: -60px !important;
            z-index: -2 !important;
        }
        .reset-pass-link {
            margin-left: 97px;
            margin-right: 97px;
        }       
        .leaf2 {
            img {
                z-index: -1;
            }
        }
        img.icon-message {
            @include imgiconmessage(110px, absolute, -90px, -80px);
        }
    }
}

h4.reset-password-send-link-container__form-heading {
    @include themify($themes) {
        text-align: center;
        font-weight: 400;
        font-size: 21px;
        margin-top: 47px;
        margin-bottom: 0;
        padding-top: 0px;
        color: themed('white_color');
    }
}
h6.reset-password-send-link-container__form-heading {
    @include themify($themes) {
        text-align: center;
        font-weight: 100;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;
        line-height: 6px;
        padding-bottom: 1px;
        color: themed('white_color');
        >p {
            margin-top: 5px;
        }
    }
}