@import "../../assets/styles/mixins";

.password-field {
  @include themify($themes) {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    &__label {
      display: flex;
      justify-content: space-between;
      @include DynamicFontConfig(normal, normal, normal, normal, normal);
      color: themed('black_color');
    }
    &__input {
      box-sizing: unset;
      background: themed('input_focus');
      border: 1px solid themed('input_focus');
      border-radius: 5px;
      margin: 4px 0 4px;
      padding: 0 10px 0 10px;
      height: 43px;
      font-size: 14px;
      &:focus {
        background: themed('input_focus');
        border: 1px solid themed('input_field__focus_border');
        outline: 0;
      }
      &--error {
        border: 1px solid themed('error_color') !important;
      }
    }
    &__dots {
      position: absolute;
      right: 0px;
      top: -9px;
      ul {
        list-style: none;
        padding-left: 0px;
        display: flex;
        justify-content: flex-end;
        li {
            width: 6px;
            height: 6px;
            border-radius: 30px;
            background: themed('reset_password_dots_li');
            margin: 2px;
            &.active {
              background: themed('password_stronger_input');
            }
            &.orange {
              background: themed('password_medium_input');
            }
            &.red {
              background: themed('error_color');
            }
          }
        }
    }
    &__hint {
      @include DynamicFontConfig(normal, normal, normal, normal, normal);
      color: themed('sub_heading_color');
      font-size: 12px;
    }  
  }
}
